name: Postman Collection Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:
    
jobs:
  run-postman-tests:
    runs-on: ec2-selfrunner


    steps:
      # Step 1: Checkout your repository
      - name: Checkout Repository
        uses: actions/checkout@v5.0.0


      - name: Install nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'


      - name: Install Newman and HTML extra globally
        run: |
             npm install -g newman
             npm install -g newman-reporter-htmlextra


      - name:  Run the postman collection with newman
        run: |
             newman run 'Inwarranty-flow Collection.postman_collection.json' \
             -e QA.postman_environment.json \
             -d testData.csv \
             -r cli,htmlextra \
             --reporter-htmlextra-export ./newman/index.html

      - name: Upload newman Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: newman-html-Report
          path: newman/*.html


      - name: creating github page branches
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/
             
             

